*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
@font-face {
    font-family: "Gobold";
    src: url("../fonts/Gobold-Regular.otf");
    font-style: normal;
    font-weight: 400;
    }
@font-face {
    font-family: "Gobold-Italic";
    src: url("../fonts/Gobold-Bold-Italic.otf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "LemonMilkbold";
    src: url("../fonts/LemonMilkbold.otf");
    } 
@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf");
    }  
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf");
} 
/*------------------------
/ESTILOS DEL NAV - LOGO 
------------------------*/
.nav-logo{
    width: 100%;
    height: 105px;
    background: #0063af;
    z-index: 100;
}
.content-nav-logo{
    width: 61%;
    height: 100%;
}
.content-nav-logo .img-logo{
    width: 27%;
}
.content-nav-logo img{
    width: 100%;
}
.content-nav-logo .nav-ccl{
    width: 73%;
}
.content-nav-logo .nav-link-ccl{
    padding: 0 .8rem !important;
    display: inline-block;
    font-size: .8rem;
    border-right: 1px solid white;
    color: white;
}
.content-nav-logo .nav-link-ccl:last-child{
    border-right: none;
}
.container .img-logo{
    width: 245px;
    height: 64px;
}
/*--------------------------
/ESTILOS DEL HEADER - HOME
---------------------------*/
.header{
    width: 100%;
    height: 45px; 
}
.header .nav-item{
    margin-left: 1.5rem;
    z-index: 100;
}
.navbar-nav .nav-item .nav-link{
    border-right: 1px solid white;
    padding: 0 .8rem !important;
    color: white !important
}
.header,
.navbar{
    background: #f8a602;
}
.navbar-dark .navbar-toggler {
    color: white;
    border-color: white ;
}
/*-----------------
/ESTILOS DEL MAIN
-----------------*/
.main{
    width: 100%;
    padding: 0 3.5% 0 0;
    background: url(../img/VERDE-grande.png);
    background-repeat: no-repeat;
    background-position: top;
}
.content-cursos{
    width: 69.3%;
    padding: 2.5rem 6rem 0 6.5rem;
    background: url(../img/computadora.png);
    background-repeat: no-repeat;
    background-position: 70%;
}
.primer-text h1,
.primer-text span{
    font-family: 'Gobold';
    color: white;
}
.primer-text h2, .segundo-text-group .p{
    font-family: 'Gobold-Italic'
}
.text-course{
    margin-bottom: 6rem;
    color: white;
    font-family: 'Raleway-Bold'
}
.text-course h4,.text-course h2{
    font-family: "LemonMilkbold";
}
.fa-play{
    color: rgb(255, 255, 0);
    font-size: 18px;
    display: inline !important;
}
.content-form{
    width: 28%;
    height: auto;
    background: url(../img/puntos.png);
    color: white;
}
.content-form h3{
    padding: 2.7rem .3rem 0;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Gobold';
}
.content-form h4{
    font-size: 2rem;  
    font-family: 'Gobold-Italic';
} 
.segundo-text-group .p,
.content-form h4,
.primer-text h2{
    background: linear-gradient(to bottom left, orange, yellow);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
}
.segundo-text-group h2{
    padding-right: 1rem;
}
.segundo-text-group h3{
    font-size: 5.5rem;
    color: white;
    margin-bottom: 5rem;
    font-family: 'Playfair Display', serif;
}
.text-course h2{
    font-size: 1.7rem;
}
.text-course h4{
    font-size: 3rem;
}
/*------------------------
/ESTILOS DEL FORMULARIO
------------------------*/
form{
    margin-top: 2.8rem;
    padding: 0 4rem;
    margin-bottom: 10rem;
}
form .form-control{
    height: 52px !important; 
    font-family: "Raleway-SemiBold";
    font-size: .9rem;
}
textarea.form-control{
    height: 112px !important;
}
.form-group{
    height: 58px!important;
}
.form-group:nth-child(3),
.form-group:nth-child(4){
    width: 49.2% !important;
    display: inline-block;
}
.form-check{
    top: 77px;
    padding-left: 50px !important;
    text-align: left;
}
.form-check-input{
    margin-left: -1.7rem !important;
    width: 17px;
    height: 17px;
    border: 2px solid rgb(255, 255, 255);
}
#btn-enviar{
    background: linear-gradient( 0deg, rgb(255,202,41) 0%, rgb(255,255,0) 84%)!important;
    position: relative;
    top: 100px;
    width: 64% !important;
    height: 56px;
    font-family: "Gobold-Italic";
    color: #0b70af;
    font-size: 1.3rem;
}
form .form-control,
#btn-enviar{
    border: none !important;
    border-radius:0 !important;
}
.footer-form{
    margin-bottom: 2rem;
}
.footer-form .logo-footer{
    width: 206px;
    height: 72px;
    margin-bottom: 5px;
}
.footer-form p{
    margin: 0 !important;
    font-size: .7rem;
    line-height: 1.4 !important;
    color: rgba(255, 255, 255, 0.822);
}
/*-----------------------
/ESTILOS MEDIA QUERIES
-----------------------*/
@media (max-width: 1400px){
    .content-nav-logo{
        width: 80%;
    }
    form{
        padding: 0 2rem;
        margin-bottom: 9rem;
    }
    .content-cursos{
        width: 69.3%;
        padding: 2.5rem 3rem 0 0;
        background-position: 70%;
    }
    .main{
        width: 100%;
        padding: 0 1.3% 0 0 !important;
    }
    .primer-text{
        padding-left: 1.5rem;
    }
}

@media (max-width: 1200px){
    .content-nav-logo{
        width: 90%;
    }
    .form-group:nth-child(3),
    .form-group:nth-child(4){
        width: 100% !important;
        display: inline-block;
    }
    .main{
        padding: 0;
        justify-content: space-around;
    }
    .content-cursos{
        background-position: top;
        background-size: 100%;
    }
}
@media (max-width: 991px) {
    .content-nav-logo {
        width: 100%;
    }
    .header .nav-item{
        margin-right: 0;
    }
    .main{
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }
    .content-cursos{
        width: 100%;
        padding: 2rem 2rem 33rem;
    }
    .content-form{
        width: 100%;
    }
    .form{
        padding: 0 4rem;
    }
}
@media (max-width: 767px) {
    .content-nav-logo .nav-link-ccl{
        font-size: .7rem;
        padding: 0 .5rem !important;
    }
    .header{
        justify-content: left;
        align-items: left;
    }
    .navbar-nav .nav-item .nav-link{
        padding: .3rem 0 !important;
    }
    .content-cursos{
        padding: 0;
        flex-direction: column !important;
        text-align: right;
        padding-right: 1rem;
        background-size: 88%;
        background-position: left top;
    }
    .content-cursos div:first-child{
        margin-bottom: 10rem;
        padding-top: 1rem;
    }
    .segundo-text-group {
        text-align: left !important;
        padding-left: 1rem;
    }
    .content-form{
        width: 100%;
    }
    .content-nav-logo .nav-ccl {
        font-size: 0.3rem;
    }
}

